.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border:ridge #84dd63 5px;
    border-radius: 2em;
    background-color: #6baa75;
    width: 25em;
    flex-direction: column;
    padding: 1em;
    margin: 2em;
    box-shadow: rgba(216, 216, 216, 0.24) 0px 3px 8px;
}

.container button { /*la equis marco*/
    border: solid #84DD63;
    border-radius: 0.5em;
    transition: transform 0.3s ease;
    font-size: 1em;
    color: rgb(43, 43, 43);
    cursor: pointer;
}

.container button:hover {
    transform: scale(1.3);
}