.divButton{
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 0.8em;
}

.button{
    border-radius: 0 1.5em 1.5em 0;
    padding: 1em;
    background-color: rgb(130, 231, 231);;
    border: none;
    /*color: black;*/
}

.button:hover{
    background-color: aqua;
    box-shadow: 0 0 20px #4f9;
    color: black;
}

input[type="search"] {
    padding-left: 15px;
    border-radius: 1.5em 0 0 1.5em;
    border: none;
    width: 350px;
}

input[type="search"]:hover{
    box-shadow: 0 0 20px #4f9;
}
