@font-face {
   font-family: rick_and_morty;
   src: url(../src/assets/fonts/get_schwifty.ttf);
}

.App {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: rick_and_morty;
   font-size: small;
}

.nav{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.736);
   border-radius: 2em;
   width: 93vw;
   height: 4em;
   margin: 1em 0;
}